* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-bold {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 112%;
}

.h2 {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.h3 {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.h3-bold {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.h4 {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
}

.h4-bold {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
}

.p {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
}

.span {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

.button {
    border-radius: 0.25rem;
    background: #4DB6AC;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
}

.header {
    z-index: 9999;
    display: flex;
    width: 100%;
    height: 79px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% + 130px);
}

.header_logo {
    display: flex;
    align-items: center;
    height: 33px;
    margin-left: 46px;
}

.header_logo >a{
    display: flex;
    text-decoration: none;
    color: #EEEEEE;
}

.header_logo-svg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

.header_search {
    display: flex;
    align-items: center;
    height: 19px;
    margin-right: 40px;
}

.header_search-input {
    height: 19px;
    margin-right: 16px;
    color: #FFFFFF;
    background: none;
    outline: none;
    border: none;
    text-align: right;
}

::placeholder {
    color: #EEEEEE;
    text-align: right;
}

.header_search-button {
    width: 17px;
    height: 17px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 130px);
}

.header_nav {
    display: flex;
}

.header_nav-link {
    padding: 0 4px 7px 4px;
    margin-left: 56px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.header_nav-link :hover {
    border-bottom: 1px solid #FFFFFF;
}

.first-screen {
    width: 100%;
    height: 100vh;
    background: url("../img/library_main_background.png") center;
    background-size: cover;
}

.first-screen_left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: calc(50% + 130px);
    height: 100vh;
    color: #FFFFFF;
}

.wrapper {
    margin: 0 6rem 0 6rem;
}

.first-screen_hr {
    width: 11rem;
    height: 0.0625rem;
    margin: 0.5rem 0 1rem 0;
    background: #FFFFFF;
}

.first-screen_text {
    white-space: pre-line;
    max-width: 28rem;
    margin-bottom: 2rem;
}

.first-screen_left-button {
    width: 15rem;
    height: 2rem;
}

.first-screen_left-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50% + 130px);
    height: 100vh;
    background: rgba(33, 33, 33, 0.35);
    filter: blur(8px);
    backdrop-filter: blur(10px);
}

.first-screen_right-button {
    position: absolute;
    right: 6rem;
    bottom: 2.625rem;
    z-index: 2;
    width: 7.75rem;
    height: 2rem;
}

.books {
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

.books_main {
    display: flex;
    flex-wrap: wrap;
}

.books_h2 {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: #212121;
}

.books_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1.25rem 0 3rem 0;
}

.books_menu-link {
    margin-right: 2rem;
    text-decoration: none;
    color: #212121;
}

.books_cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 27rem;
    height: 18.125rem;
    margin: 1rem;
    border-radius: 0.25rem;
    background: #FFFFFF;
    box-shadow: 0.25rem 0.25rem 1rem rgba(33, 33, 33, 0.15);
}

.card_left {
    width: 11rem;
    height: 100%;
}

.card_img {
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
}

.card_button {
    position: relative;
    bottom: 2.75rem;
    z-index: 3;
    width: 11rem;
    height: 2.5rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card_right {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card_right-top {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 16rem;
    padding: 1rem 1rem 0 1rem;
}

.card_h3 {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #212121;
}

.card_p {
    width: 100%;
    margin-bottom: 0.3125rem;
    white-space: pre-line;
    color: #212121;
}

.card_caption {
    width: 100%;
    margin-bottom: 0.25rem;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.625rem;
    line-height: 0.875rem;
    text-align: right;
    color: #A9A9A9;
}

.card_right-bottom {
    display: flex;
    width: 16rem;
    border-top: 0.0625rem solid #F2F2F2;
    padding: 0.625rem 0 0.625rem;
}

.card_genre {
    width: 75%;
    border-right: 0.0625rem solid #F2F2F2;
    color: #4F4F4F;
    text-align: center;
}

.card_price {
    width: 25%;
    color: #212121;
    text-align: center;
}